
.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6');
    background-size: cover;
    height: 100%
}

	
i.box-circle-solid{
	background-color:#35CBDF;
	border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}



.text-white {

}

.text-danger {

}

.fa {

}

.fa-bug {

}

.fa-diamond {

}

.img-circle {

}

.text-left {

}

.fa-envelope {

}

.fa-linkedin-in {

}

.blockquote-footer{

}

.px-4 {

}


.mb-0 {

}
